
.form-group {
    max-width: 100%;
    margin-top: 10px;

    flex-basis: 50%;
}

.form-group > input,
.form-group > select {
    width: 100%;
    padding: 10px;

    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;

    border: 1px solid #eee;
    border-radius: 3px;
}

.inline-form-group {
    display: flex;

    justify-content: space-between;
}

.form-group > .search-label {
    margin-bottom: 5px;

    font-family: "Lexend Deca", sans-serif;
    font-size: 13px;
    font-weight: 700;

    text-transform: uppercase;

    COLOR: #555;
}

.search-btn {
    padding: 10px 20px;

    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;

    color: #fff;
    border: none;
    border-radius: 3px;
    background: #ff5a5f;
}

.d-flex-end {
    display: flex;

    justify-content: flex-end;
}

.search-card-body {
    margin: 15px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.place-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.name {
    float: left; 
    padding: 14px 16px; 
    font-size: 20px;
    color: white; 
    font-weight: 1000; 
    padding-left: 50px; 
    cursor: crosshair;
}

.nav {
    padding: 0px;
}
.d-flex-end {
    display: flex;

    justify-content: flex-end;
}
